* {
     box-sizing: border-box;
}

/*body{

 
}
header{

}



main{

}*/

nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchbar{
     border: 1px solid rgb(199, 196, 196);
     text-align: center;
     padding: 5px;
}



/*unit status buttons all leased vacant notice*/
.unitstatus{
    display: flex;   
}

.button {
    flex: 1;
    text-align: center;
    /*background: #eee;*/
    padding: 8px;
    /*cursor: pointer;*/
}



/* Dashboard header unit status edit section*/
.dashboard-header{
    display: flex;
   border: 1px solid rgb(199, 196, 196);
   
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}
.unit, .status, .edit {
    flex: 1;
    text-align: center;
     padding: 8px;
}



/*dashboard actual dashboard section*/
#unit-dashboard{
    display: flex;
    flex-direction: column;

   padding: 8px;
   border: 1px solid rgb(199, 196, 196);
}

.unit-row {
 display: flex; 
 
}

.unit-row td{
    flex: 1;
    text-align: center;
    
}
